    <!-- show errors -->
    <% 
    let errorInputs = []
    errors.forEach(error => { 
        errorInputs.push(error.inputField)
        // console.log(error)
    })
    const usernameVal = formData.username ? formData.username : ""
    const emailVal = formData.email ? formData.email : ""
    %>


<div id="form-cont">

    <form method="post" action="/auth/register">
        <div id="title-cont">
            <i class="fa-solid fa-user-plus"></i>
            <h2>Register</h2>
        </div>

        <!-- username input -->
        <div class="input-err-cont input-cont-username">
        <% if (errorInputs.includes("username")) {
            const errMsg = errors.find(error => error.inputField === "username").msg
        %>
            <input type="text" name="username" placeholder="Username" value="<%= usernameVal %>" class="inputError" data-err-msg="<%= errMsg %>" minlength="3" maxlength="20">
            <i class="fa-solid fa-circle-info tooltip-icon .username-error-icon"></i>    
            <span class="tooltip-text .username-error-msg"><%= errMsg  %></span>
        <% } else { %>
            <input type="text" name="username" placeholder="Username" value="<%= usernameVal %>" class="" data-err-msg="" minlength="3" maxlength="20" >
        <% } %>
        </div>
        
        

        <div class="input-err-cont input-cont-email">
        <% if (errorInputs.includes("email")) {
            const errMsg = errors.find(error => error.inputField === "email").msg
        %>
                <input type="email" name="email" placeholder="Email" value="<%= emailVal %>" class="inputError" data-err-msg="<%= errMsg %>">
                <i class="fa-solid fa-circle-info tooltip-icon .email-error-icon"></i>    
                <p class="tooltip-text .email-error-msg"><%= errMsg  %></p>
        <% } else { %>
                <input type="email" name="email" placeholder="Email" value="<%= emailVal %>" class="" data-err-msg="">
        <% } %>
        </div>

        
        
        <div class="input-err-cont input-cont-pwd">
        <% if (errorInputs.includes("password")) {
            const errMsg = errors.find(error => error.inputField === "password").msg
        %>
                <input type="password" name="password" placeholder="Password" class="inputError" data-err-msg="<%= errMsg %>" minlength="8" maxlength="256"> 
                <i class="fa-solid fa-circle-info tooltip-icon .pwd-error-icon"></i>    
                <p class="tooltip-text .pwd-error-msg"><%= errMsg  %></p>
        <% } else { %>
                <input type="password" name="password" placeholder="Password" class="" data-err-msg="" minlength="8" maxlength="256"> 
        <% } %>
        </div>
        

        <div class="input-err-cont input-cont-pwdConf">
        <% if (errorInputs.includes("password-conf")) {
            const errMsg = errors.find(error => error.inputField === "password-conf").msg
        %>
                <input type="password" name="passwordConfirm" placeholder="Password confirm" class="inputError" data-err-msg="<%= errMsg %>"> 
                <i class="fa-solid fa-circle-info tooltip-icon .pwd-conf-error-icon"></i>    
                <p class="tooltip-text .pwd-conf-error-msg"><%= errMsg  %></p>
            
        <% } else { %>
            <input type="password" name="passwordConfirm" placeholder="Password confirm" class="" data-err-msg=""> 
        <% } %>
        </div>
        
         
        <div id="btn-msg-cont">
            <button type="submit"><i class="fa-solid fa-right-to-bracket"></i>Register</button> 
            <p id="info-msg">Dont have account? <a href="/auth/login">Login</a></p>
        </div>
    </form>

    <div id="sso-icons-cont">
        <a id="google-login" href="/auth/sso/google"><i class="fa-brands fa-google"></i></a>
        <a id="google-login" href="/auth/sso/github"><i class="fa-brands fa-github"></i></a>
    </div>

</div>