    <!-- show errors -->
    <% 
    let errorInputs = []
    errors.forEach(error => { 
        errorInputs.push(error.inputField)
        // console.log(error)
    })
    const usernameVal = formData.username ? formData.username : ""
    const emailVal = formData.email ? formData.email : ""
    %>


<div id="form-cont">

    <form method="post" action="/auth/register">
        <div id="title-cont">
            <i class="fa-solid fa-user-plus"></i>
            <h2>Register</h2>
        </div>

        <!-- username input -->
        <% if (errorInputs.includes("username")) {
            const errMsg = errors.find(error => error.inputField === "username").msg
        %>
            <div class="input-err-cont">
                <input type="text" name="username" placeholder="Username" value="<%= usernameVal %>" class="inputError" data-err-msg="<%= errMsg %>">
                <i class="fa-solid fa-circle-info tooltip-icon"></i>    
                <span class="tooltip-text"><%= errMsg  %></span>
            </div>
        <% } else { %>
            <input type="text" name="username" placeholder="Username" value="<%= usernameVal %>" class="inputCorret" data-err-msg="">
        <% } %>
        
        
        
        <% if (errorInputs.includes("email")) {
            const errMsg = errors.find(error => error.inputField === "email").msg
        %>
            <div class="input-err-cont">
                <input type="email" name="email" placeholder="Email" value="<%= emailVal %>" class="inputError" data-err-msg="<%= errMsg %>">
                <i class="fa-solid fa-circle-info tooltip-icon"></i>    
                <p class="tooltip-text"><%= errMsg  %></p>
            </div>
        <% } else { %>
            <input type="email" name="email" placeholder="Email" value="<%= emailVal %>" class="inputCorrect" data-err-msg="">
        <% } %>

        
        
        <% if (errorInputs.includes("password")) {
            const errMsg = errors.find(error => error.inputField === "password").msg
        %>
            <div class="input-err-cont">
                <input type="password" name="password" placeholder="Password" class="inputError" data-err-msg="<%= errMsg %>"> 
                <i class="fa-solid fa-circle-info tooltip-icon"></i>    
                <p class="tooltip-text"><%= errMsg  %></p>
            </div>
        <% } else { %>
            <input type="password" name="password" placeholder="Password" class="inputCorrect" data-err-msg=""> 
        <% } %>
        

        <% if (errorInputs.includes("password-conf")) {
            const errMsg = errors.find(error => error.inputField === "password-conf").msg
        %>
            <div class="input-err-cont">
                <input type="password" name="passwordConfirm" placeholder="Password confirm" class="inputError" data-err-msg="<%= errMsg %>"> 
                <i class="fa-solid fa-circle-info tooltip-icon"></i>    
                <p class="tooltip-text"><%= errMsg  %></p>
            </div>
        <% } else { %>
            <input type="password" name="passwordConfirm" placeholder="Password confirm" class="inputCorrect" data-err-msg=""> 
        <% } %>
        
         
        <div id="btn-msg-cont">
            <button type="submit"><i class="fa-solid fa-right-to-bracket"></i>Register</button> 
            <p id="info-msg">Dont have account? <a href="/auth/login">Login</a></p>
        </div>
    </form>
</div>